<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Thank you!</title>
    <%- include partials/head.ejs %>
  </head>
  <body>
<%- include partials/header.ejs %>
<main>
<section>
    <br>
        <span style="font-size:64px;font-weight: 100;">Thank you!</span><br>
        <span style="font-size:22px;opacity:0.5">Your audition application has been received, we will be in touch soon!</span>
</section>
</main>
<%- include partials/footer.ejs %>
  </body>
  </html>

