<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AUFS - Privacy Policy</title>
    <%- include partials/head.ejs %>
  </head>
  <body>

    <%- include partials/header.ejs %>
    <main>
    <section>
        <h1>Privacy Policy</h1>
        </section>
    </main>
    <%- include partials/footer.ejs %>
  </body>
</html>