<!DOCTYPE html>
<html lang="en">
    <head>
          <title>2035 Welcome Pack | AUFS</title>
          <meta property="og:title" content="Welcome Pack">
          <%- include partials/head.ejs %>
      <script src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    </head>
    <body>
              <script>!function(E,H,x){var e="accordion",i={transitionSpeed:300,transitionEasing:"ease",controlElement:"[data-control]",contentElement:"[data-content]",groupElement:"[data-accordion-group]",singleOpen:!0};function n(t,n){this.element=t,this.options=E.extend({},i,n),this._defaults=i,this._name=e,this.init()}n.prototype.init=function(){var e,i,a,o,r=this.options,n=E(this.element),t=n.find("> "+r.controlElement),s=n.find("> "+r.contentElement),c=0<n.parents("[data-accordion]").length,d={"max-height":0,overflow:"hidden"},h=function(){var t=(x.body||x.documentElement).style,n="transition";if("string"==typeof t[n])return!0;var e=["Moz","webkit","Webkit","Khtml","O","ms"];n="Transition";for(var i=0;i<e.length;i++)if("string"==typeof t[e[i]+n])return!0;return!1}();function l(t,n){n?s.css({"-webkit-transition":"",transition:""}):s.css({"-webkit-transition":"max-height "+r.transitionSpeed+"ms "+r.transitionEasing,transition:"max-height "+r.transitionSpeed+"ms "+r.transitionEasing})}function f(t){var n=0;t.children().each(function(){n+=E(this).outerHeight(!0)}),t.data("oHeight",n)}function m(t,n,e,i){var a,o=t.filter(".open").find("> [data-content]"),s=o.find("[data-accordion].open > [data-content]");r.singleOpen||(s=s.not(n.siblings("[data-accordion].open").find("> [data-content]"))),a=o.add(s),t.hasClass("open")&&a.each(function(){var t=E(this).data("oHeight");switch(i){case"+":E(this).data("oHeight",t+e);break;case"-":E(this).data("oHeight",t-e);break;default:throw"updateParentHeight method needs an operation"}E(this).css("max-height",E(this).data("oHeight"))})}function u(t){if(t.hasClass("open")){var n=t.find("> [data-content]"),e=n.find("[data-accordion].open > [data-content]"),i=n.add(e);f(i),i.css("max-height",i.data("oHeight"))}}function g(t,n){if(t.trigger("accordion.close"),h){if(c)m(t.parents("[data-accordion]"),t,n.data("oHeight"),"-");n.css(d),t.removeClass("open")}else n.css("max-height",n.data("oHeight")),n.animate(d,r.transitionSpeed),t.removeClass("open")}function p(t,n){if(t.trigger("accordion.open"),h){if(l(),c)m(t.parents("[data-accordion]"),t,n.data("oHeight"),"+");!function(t){H.requestAnimationFrame?requestAnimationFrame(t):H.webkitRequestAnimationFrame?webkitRequestAnimationFrame(t):H.mozRequestAnimationFrame?mozRequestAnimationFrame(t):setTimeout(t,1e3/60)}(function(){n.css("max-height",n.data("oHeight"))}),t.addClass("open")}else n.animate({"max-height":n.data("oHeight")},r.transitionSpeed,function(){n.css({"max-height":"none"})}),t.addClass("open")}function v(){var t=!!r.singleOpen&&0<n.parents(r.groupElement).length;f(s),t&&function(t){t.closest(r.groupElement);var n=t.siblings("[data-accordion]").filter(".open"),e=n.find("[data-accordion]").filter(".open"),i=n.add(e);i.each(function(){var t=E(this),n=t.find(r.contentElement);g(t,n)}),i.removeClass("open")}(n),n.hasClass("open")?g(n,s):p(n,s)}s.each(function(){var t=E(this);0!=t.css("max-height")&&(t.closest("[data-accordion]").hasClass("open")?(l(),f(t),t.css("max-height",t.data("oHeight"))):t.css({"max-height":0,overflow:"hidden"}))}),n.attr("data-accordion")||(n.attr("data-accordion",""),n.find(r.controlElement).attr("data-control",""),n.find(r.contentElement).attr("data-content","")),t.on("click",v),t.on("accordion.toggle",function(){if(r.singleOpen&&1<t.length)return!1;v()}),t.on("accordion.refresh",function(){u(n)}),E(H).on("resize",(e=function(){u(n)},function(){var t=this,n=arguments;o?clearTimeout(o):a&&e.apply(t,n),o=setTimeout(function(){a||e.apply(t,n),o=null},i||100)}))},E.fn[e]=function(t){return this.each(function(){E.data(this,"plugin_"+e)||E.data(this,"plugin_"+e,new n(this,t))})}}(jQuery,window,document);</script>
 <style>
   /*!
 * jQuery Accordion 0.0.1
 * (c) 2014 Victor Fernandez <victor@vctrfrnndz.com>
 * MIT Licensed.
 */

/* Requirements */

[data-accordion] [data-content] {
    overflow: hidden;
    max-height: 0;
}

/* Basic Theme */

[data-accordion] {
    line-height: 1;
}

[data-control]{
  border-bottom: solid 1px rgba(255,255,255,0.5);
    padding: 10px;
    opacity:0.6;
    transition:opacity 0.2s;
}

[data-control]:hover{
    opacity: 0.8;
}
.open [data-control]{
    opacity:1;
}

[data-content] [data-accordion] {
    border: 0;
    padding: 0;
}
[data-content]>*{
  padding:12px 12px 0px 12px;
  color:rgba(255,255,255,0.5);
}

[data-accordion] [data-control] {
    position: relative;
    padding-right: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px;
}

[data-accordion] > [data-control]:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 25px;
    font-weight: 200;
    height: 15px;
    width: 24px;
    background: url('../images/down.png') center center no-repeat;
    background-size: 50%;
}

[data-accordion].open > [data-control]:after {
    -webkit-transform: rotate(-180deg); 
    -ms-transform: rotate(-180deg); 
    transform: rotate(-180deg); 
}
 </style>
            <div class="firstgradient"></div>
            <div class="secondgradient"></div>
        <style>
        @font-face {
            font-family: 'courier_primeregular';
            src: url('/webfonts/courier-prime-webfont.woff2') format('woff2'),
                 url('/webfonts/courier-prime-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        body{
            background:black;
        }
        .firstgradient{
            background: url(/images/noisetexture.png), linear-gradient(45deg, rgb(39, 56, 47) 0%, rgb(1, 7, 36) 100%);
        }
        h1{
            font-family: 'courier_primeregular', 'Courier New', Courier, monospace;
            font-weight: normal;
            text-align: center;
            font-size:58px;
            margin-bottom: -12px;
            color:rgba(255,255,255,0.8);
            text-shadow: 0px 0px 12px rgb(144, 255, 218);
        }
        h2{
            font-family: 'courier_primeregular', 'Courier New', Courier, monospace;
            font-weight: normal;
            text-align: center;
            font-size:16px;
            margin-top:0;
            opacity: 1;
            color:rgba(255,255,255,0.5);
            text-shadow: 0px 0px 12px rgb(144, 255, 218);
        }
        h3{
            font-family: 'courier_primeregular', 'Courier New', Courier, monospace;
            font-weight: normal;
            text-align: center;
            font-size:16px;
            opacity: 1;
            margin-top: 24px; 
            color:rgba(255, 255, 255, 0.75);
            text-shadow: 0px 0px 12px rgb(144, 255, 218);
        }
        .holy-text{
            margin-top:24px;
        }
        .holy-text::before {
            color: rgba(255, 255, 255, 0.15);
        }
        .holy-text::after {
            color: rgba(255, 255, 255, 0.15);
        }
        </style>
        <section>
            <h1 class="article title">2035</h1>
            <h2>[working title]</h2><br><br>
            <p style="color:rgba(255,255,255,0.8);">[firstname], thank you for being a part of AUFS Productions! On this page you will be able to find all the information you need about the project.</p>
        </section>
        <h3>[director's statement]</h3>
        <section class="holy-text">
                <p>In June 2019, I directed a short film called 2035. The film was very similar to this one.  It was set in a post-apocalyptic world and the story saw a young woman trying to survive in the wasteland that earth had become. My crew consisted of two people and an actress. We shot almost the entire film at four in the morning at the beach. We were freezing because of the wind, walking in the sea to get perfect shots, and very tired because of the early hours. When we happily finished, excited to see the results on a bigger screen, we found out that the memory card had been corrupted. Unable to fix it, by all means, none of us has ever seen the footage. As a filmmaker, you can imagine our frustration.</p>
                <p>In my life, I believe everything happens for a reason, and so I did then. I could not think of any  reason at the time, though. Although the project felt small and insignificant, I was very passionate about it and I could not understand why so many obstacles were put in front of us to stop us from finishing it. But today I finally understand. Here you are - a crew of thirty people; a team that works on a project of the same name and the same synopsis, standing by my side and going on this massive adventure with me. </p>
                <p>When I was going through the interviews with each of you in the past few weeks, I felt the energy and enthusiasm you are bringing to this project even before we officially started. We all - the producer, scriptwriter, and I - were impressed by your insights, ideas and preparation. It was then when I realised that the reason for the corrupted memory card back in June might have not been to break my endurance but to give the project a chance to bring together a larger group of people. Today, the group is us - you and me as a team that connects at this moment to create something meaningful and something we all will be proud of. I feel that this is so far the biggest and the most ambitious project the Productions has ever made, and you are right here in the front line to make it happen. We will need every piece of passion, energy and enthusiasm to bring our story to life, and I trust you that we will invest all of it in this film. I am very excited to officially start this production, and make this film a reality.</p>
                </p><blockquote target="_blank">Karolína Smolová<a>The Director</a></blockquote>
        </section>
        <h3>[the social and political background]</h3>
        <h3>[synopsis]</h3>
        <h3>[color scheme]</h3>
        <h3>[the people involved]</h3>
        <section>
                <style>
                        .crew{
                            display: flex;
                            justify-content: center;
                        }
                        .crewmember{
                            display: flex;
                        }
                        .crew .details h3{
                            text-align: left;
                            margin-top:0;
                            margin-bottom: 0;
                            font-family: Montserrat;
                        }
                        .crewmember{
                            padding: 12px;
                        }
                        .crewmember img{
                            display: block;
                            width: 96px;
                            height: 96px;
                            border-radius: 50%;
                            object-fit: cover;
                            box-shadow: 0px 0px 12px rgba(144, 255, 218, 0.335);
                        }
                        .crewmember .role{
                            font-weight: bold;
                            font-size: 16px;
                            text-shadow: 0px 0px 12px rgb(144, 255, 218);
                        }
                        .crewmember .name{
                            font-weight: 300;
                            opacity: 0.8;
                            text-shadow: 0px 0px 12px rgb(144, 255, 218);
                        }
                        .crewmember .description{
                            font-size: 11px;
                            margin-top:6px;
                            margin-bottom: 0;
                        }
                        .crewmember .details{
                            align-self: center;
                            margin-left:12px;
                        }
                    </style>
            
                        <div data-accordion class="accordion">
                            <div data-control="">Art departement</div>
                            <div data-content>
                                <div class="crew">
                                    <div class="crewmember">
                                        <img
                                            src="https://m.media-amazon.com/images/M/MV5BNjE3NDQyOTYyMV5BMl5BanBnXkFtZTcwODcyODU2Mw@@._V1_.jpg">
                                        <div class="details">
                                            <div class="role">Director</div>
                                            <div class="name">Christopher Nolan</div>
                                            <p class="description">THis is the person who is directing shit</pW>
                                        </div>
                                    </div>
                                    <div class="crewmember">
                                        <img
                                            src="https://m.media-amazon.com/images/M/MV5BNjE3NDQyOTYyMV5BMl5BanBnXkFtZTcwODcyODU2Mw@@._V1_.jpg">
                                        <div class="details">
                                            <div class="role">Producer</div>
                                            <div class="name">Christopher Nolan</div>
                                            <p class="description">THis is the person who is directing shit</pW>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
        </section>

        <h3>[production schedule]</h3>
        <h3>[sustainability]</h3>
        <script>
$('.accordion').accordion({
"transitionSpeed": 200,
});
</script>
    </body>
</html>