body {
  background: #074C83;
    color: white;
    padding: 0px;
    font: 14px "Montserrat", Helvetica, Arial, sans-serif;
    margin:0;
  }
.firstgradient{
    background: url('/images/noisetexture.png'), linear-gradient(45deg, rgba(8, 128, 144, 1) 0%, rgba(5, 24, 117, 1) 100%);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -4;
}
  .secondgradient {
    background: radial-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25));
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -3;
  }
  a{
    color:white;
  }

  .logo{
    max-width: 96px;
    margin: auto;
    padding-top:24px;
    padding-bottom:24px;
    display: block;
  }
  .logolarge{
    max-width: 148px;
    margin: auto;
    padding-right: 12px;
    padding-left:12px;
    padding-top:32px;
    margin-bottom:12px;
    display: block;
  }
 
  #placeholder{
    margin:auto;
    text-align: center;
    position: fixed;
    width:100%;
top: 50%;
left: 50%;
/* bring your own prefixes */
transform: translate(-50%, -50%);
  }

  #placeholder .logo{
    max-height: 72px;
    margin-bottom:-12px;
   /* transform: translateX(-4px);*/
  }
  .hidden{
    display: none;
  }
  button{
    outline:none;
    cursor: pointer;
  }
  .btn {
    border: 1px solid #051875;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: all 600ms ease;
  }
  .bigbtn, .smallbtn{
    width:100%;
    margin-top:6px;
    font-size:16px;
    font-family: "Montserrat";
    padding:12px;
    display: block;
    border-radius: 6px;
    color:rgba(5,24,117,1);
    border:0;
    background:white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0,0.1);
    transition: all 200ms;
  }
  .openbtn{
    background:none;
    color:rgba(5,24,117,1);
    font-size:13.33px;
    font-family: "Montserrat";
    border: none;
    font-weight: bold;
    margin:6px;
  }
  .bigbtn:hover, .smallbtn:hover{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0,0.2);
    transition: box-shadow 200ms;
  }
  .bigbtn:active, .smallbtn:active{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0,0.4);
    background: linear-gradient(45deg, rgba(8,128,144,1) 0%, rgba(5,24,117,1) 100%);
    color:white;
  }
  .smallbtn{
    font-size: 13.33px;
    padding:6px 24px;
    border-radius: 4px;
    width:auto;
  }
  .smallbtn.inline{
    display: inline-block;
  }
   .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {display: inline-block;}